ion-content {
    border-left: 7px solid var(--ion-color-orange);
    border-right: 7px solid var(--ion-color-red);

    .header {
        padding: 0 10vw;
        margin-top: 1.5em;
        color: #fff;
        .logo {
            text-align: center;
            img {
                width: 60%;
            }
        }
        h3 {
            text-align: center;
            color: #20508a;
            margin-top: 40px;
            font-size: 1.2rem;
            font-weight: 600;
            font-family: codePro-MediumItalic;
        }
    }

    .form {
        padding: 0 10vw;
        margin-top: 70px;
        ion-item {
            --background: var(--ion-color-medium);
            border-bottom: none;
            border-radius: 25px;
            margin-bottom: 22px;
            --color: #fff;
        }
    }

    .button {
        width: 50vw;
        color: white;
        background-color: var(--ion-color-orange);
        margin-top: 70px;
        padding: 20px;
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
        display: flex;
        align-items: center;
        font-size: 1.2rem;
        font-weight: 500;
        justify-content: flex-end;
        font-family: codePro-semiBoldItalic;
        ion-icon {
            margin-left: 5px;
        }
    }

    .button-right {
        width: 60vw !important;
        background-color: var(--ion-color-red);
        margin-top: 40px;
        margin-bottom: 10px;
        padding: 15px;
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
        display: flex;
        color: white;
        align-items: center;
        font-size: 1.2rem;
        font-weight: 500;
        font-family: codePro-semiBoldItalic;
        ion-icon {
            margin-right: 10px;
        }
    }

    .footer2 {
        display: flex;
        justify-content: space-between;
    }

    .footer {
        color: #fff;
        padding: 0 10vw;
        margin-top: 50px;
        text-align: center;

        h3 {
            font-size: 1.2rem;
            font-weight: 400;
            font-family: codePro-MediumItalic;
        }
    }

    .forgot {
        text-align: right;
        color: white;
        margin-right: 3rem;
        h3 {
            text-decoration: underline;
            font-size: 1.2rem;
            font-weight: 400;
            font-family: codePro-MediumItalic;
        }
    }
}
