<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="defaultHref"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ getTitle() }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-bank *ngIf="contentRef === 'bank'"></app-bank>
  <app-order *ngIf="contentRef === 'order'"></app-order>
  <app-state *ngIf="contentRef === 'state'"></app-state>
  <app-presence *ngIf="contentRef === 'presence'"></app-presence>
  <app-fond *ngIf="contentRef === 'fond'"></app-fond>
</ion-content>
