<ion-content [fullscreen]="true">
    <ion-grid>
        <ion-row>
            <ion-col size="6">
                <ion-card mode="ios">
                    <ion-card-header class="actu-img-box">
                        <ion-img  src="assets/placeholder.png" title="Actualite image" alt="Actualite image"></ion-img>
                    </ion-card-header>
                    <ion-card-content class="actu-text-box">
                        <ion-card-subtitle class="medium text-white text-center">Odre cotisation</ion-card-subtitle>
                    </ion-card-content>
                </ion-card>
            </ion-col>  
            <ion-col size="6">
                <ion-card mode="ios">
                    <ion-card-header class="actu-img-box">
                        <ion-img src="assets/placeholder.png" title="Actualite image" alt="Actualite image"></ion-img>
                    </ion-card-header>
                    <ion-card-content class="actu-text-box">
                        <ion-card-subtitle class="medium text-white text-center">Etat cotisation</ion-card-subtitle>
                    </ion-card-content>
                </ion-card>
            </ion-col>
            <ion-col size="6">
                <ion-card mode="ios">
                    <ion-card-header class="actu-img-box">
                        <ion-img src="assets/placeholder.png" title="Actualite image" alt="Actualite image"></ion-img>
                    </ion-card-header>
                    <ion-card-content class="actu-text-box">
                        <ion-card-subtitle class="medium text-white text-center">Banque</ion-card-subtitle>
                    </ion-card-content>
                </ion-card>
            </ion-col>
            <ion-col size="6">
                <ion-card mode="ios">
                    <ion-card-header class="actu-img-box">
                        <ion-img src="assets/placeholder.png" title="Actualite image" alt="Actualite image"></ion-img>
                    </ion-card-header>
                    <ion-card-content class="actu-text-box">
                        <ion-card-subtitle class="medium text-white text-center">Présence</ion-card-subtitle>
                    </ion-card-content>
                </ion-card>
            </ion-col>
            <ion-col size="6">
                <ion-card mode="ios">
                    <ion-card-header class="actu-img-box">
                        <ion-img src="assets/placeholder.png" title="Actualite image" alt="Actualite image"></ion-img>
                    </ion-card-header>
                    <ion-card-content class="actu-text-box">
                        <ion-card-subtitle class="medium text-white text-center">Fond</ion-card-subtitle>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
