ion-img {
    padding-inline-start: 25%;
    padding-inline-end: 25%;
}

ion-list-header {
    font-size: larger;
    font-family: codePro-Regular !important;
}

ion-content {
    --background: url('../../assets/img/profil_bg.png');
}

ion-list {
    border-radius: 50px;
}
