<ion-content [fullscreen]="true" class="ion-padding" *ngIf="memberData">
    <div class="text-center">
        <ion-img src="assets/profil.png" alt="Avatar"></ion-img>
    </div>
    
    <ion-list>
        <ion-list-header>Informations personnelles</ion-list-header>
        <ion-item>Nom : {{memberData.name}}</ion-item>
        <ion-item>Genre : {{memberData.gender}}</ion-item>
        <ion-item>Organisation code : {{memberData.organisation_code}}</ion-item>
        <ion-item>Fonction / Poste : {{memberData.function}}</ion-item>
    </ion-list>

    <ion-list class="pt-5">
        <ion-list-header>Position et état dans les tontines</ion-list-header>
        <ion-item *ngFor="let tontine of memberCotisations">
            {{tontine.title}} : N° {{getMemberPosition(memberData.id, tontine)}} &nbsp;
            <ion-label color="success" class="bold italic" *ngIf="hasReceive(memberData.id, tontine) === 'Reçu'">({{hasReceive(memberData.id, tontine)}})</ion-label>
            <ion-label color="danger" class="bold italic" *ngIf="hasReceive(memberData.id, tontine) === 'En attente'">({{hasReceive(memberData.id, tontine)}})</ion-label>
        </ion-item>
    </ion-list>

    <ion-button class="mt-5" mode="ios" color="danger" expand="block" shape="round" (click)="logout()">
        <ion-icon name="log-out" slot="start"></ion-icon>
        <label>Déconnexion</label>
    </ion-button>
</ion-content>
<ion-content [fullscreen]="true" class="ion-padding" *ngIf="!memberData">
    <div class="text-center">
        <ion-img src="assets/profil.png" alt="Avatar"></ion-img>
    </div>
    <ion-title>Chargement en cours...</ion-title>
</ion-content>
