<ion-content [fullscreen]="true" class="ion-padding">
    <div class="text-center">
        <ion-img src="assets/profil.png" alt="Avatar"></ion-img>
    </div>
    
    <ion-list>
        <ion-list-header>Informations personnelles</ion-list-header>
        <ion-item>Nom :</ion-item>
        <ion-item>Genre :</ion-item>
        <ion-item>Organisation code :</ion-item>
        <ion-item>Fonction / Poste :</ion-item>
    </ion-list>

    <ion-list class="pt-5">
        <ion-list-header>Position et état dans les tontines</ion-list-header>
        <ion-item>Tontine de 5000 : N°</ion-item>
        <ion-item>Présence : </ion-item>
    </ion-list>
</ion-content>
