<ion-content [fullscreen]="true">
    <ion-header>
        <ion-toolbar color="primary">
            <ion-buttons slot="start">
                <ion-menu-button></ion-menu-button>
            </ion-buttons>
            <ion-title>Actualités</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-searchbar class="ft_lightItalic pb-0" placeholder="Rechercher" type="text" debounce="500" enterkeyhint="search"></ion-searchbar>
    <ion-grid *ngIf="actualities.length > 0">
        <ion-row>
            <ion-col size="6" *ngFor="let actuality of actualities"
                routerLink="/app/tabs/news/actuality/{{actuality.id}}">
                <ion-card mode="ios">
                    <ion-card-header>
                        <ion-img src="assets/icon/favicon.png" title="Actualite image" alt="Actualite image"></ion-img>
                    </ion-card-header>
                    <ion-card-content>
                        <p>{{actuality.title.substr(0, 15).concat('...')}}</p>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-list-header *ngIf="actualities.length === 0">
        Aucune actualité pour le moment
    </ion-list-header>
</ion-content>