/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


/* personal font declaration and import */
@font-face {
    font-family: "codePro-Black";
    src: url('assets/fonts/Source_Code_Pro/SourceCodePro-Black.ttf');
}
@font-face {
    font-family: "codePro-BlackItalic";
    src: url('assets/fonts/Source_Code_Pro/SourceCodePro-BlackItalic.ttf');
}
@font-face {
    font-family: "codePro-Bold";
    src: url('assets/fonts/Source_Code_Pro/SourceCodePro-Bold.ttf');
}
@font-face {
    font-family: "codePro-BoldItalic";
    src: url('assets/fonts/Source_Code_Pro/SourceCodePro-BoldItalic.ttf');
}
@font-face {
    font-family: "codePro-ExtraLight";
    src: url('assets/fonts/Source_Code_Pro/SourceCodePro-ExtraLight.ttf');
}
@font-face {
    font-family: "codePro-ExtraLightItalic";
    src: url('assets/fonts/Source_Code_Pro/SourceCodePro-ExtraLightItalic.ttf');
}
@font-face {
    font-family: "codePro-Italic";
    src: url('assets/fonts/Source_Code_Pro/SourceCodePro-Italic.ttf');
}
@font-face {
    font-family: "codePro-Light";
    src: url('assets/fonts/Source_Code_Pro/SourceCodePro-Light.ttf');
}
@font-face {
    font-family: "codePro-LightItalic";
    src: url('assets/fonts/Source_Code_Pro/SourceCodePro-LightItalic.ttf');
}
@font-face {
    font-family: "codePro-Medium";
    src: url('assets/fonts/Source_Code_Pro/SourceCodePro-Medium.ttf');
}
@font-face {
    font-family: "codePro-MediumItalic";
    src: url('assets/fonts/Source_Code_Pro/SourceCodePro-MediumItalic.ttf');
}
@font-face {
    font-family: "codePro-Regular";
    src: url('assets/fonts/Source_Code_Pro/SourceCodePro-Regular.ttf');
}
@font-face {
    font-family: "codePro-SemiBold";
    src: url('assets/fonts/Source_Code_Pro/SourceCodePro-SemiBold.ttf');
}
@font-face {
    font-family: "codePro-SemiBoldItalic";
    src: url('assets/fonts/Source_Code_Pro/SourceCodePro-SemiBoldItalic.ttf');
}


/* Personal CSS */

.text-center {
    text-align: center;
    align-items: center;
    justify-content: center;
}

.pt-1 {
    padding-top: 0.5rem;
}

.pt-5 {
    padding-top: 2.5rem;
}

.mt-1 {
    margin-top: 0.5rem;
}

.mt-5 {
    margin-top: 2.5rem;
}

.text-green {
    color: green;
}

.text-white {
    color: white;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.text-yellow {
    color: yellow;
}

.text-red {
    color: red;
}

ion-toolbar, ion-toolbar > ion-label, ion-toolbar > ion-card-title, ion-toolbar > ion-title, ion-toolbar > ion-buttons > ion-button {
    font-family: codePro-BoldItalic !important;
}

ion-header {
    border: none;
    ion-toolbar {
        border: none;
    }
}

ion-header {
    ion-toolbar, ion-title {
        ion-title, ion-label {
            font-size: 15px;
        }
        ion-buttons {
            ion-button {
                font-size: 12px;
                ion-icon {
                    font-size: 20px;
                }
            }
        }
    }
}

.menu-title, .slogan {
    font-family: codePro-Italic !important;
}

.menu-title {
    font-size: 13px !important;
}

ion-card-title, ion-card-content, ion-card-subtitle, ion-title, ion-item, ion-label, h1, h2, h3, h4, h5, h6, p {
    font-family: codePro-Regular;
}

.slogan {
    font-size: 10px;
}

ion-button {
    font-style: italic;
}

/* font */

.ft_bold {
    font-family: codePro-Bold !important;
}

.ft_boldItalic {
    font-family: codePro-BoldItalic !important;
}

.ft_semiBold {
    font-family: codePro-semiBoldItalic !important;
}

.ft_semiBoldItalic {
    font-family: codePro-semiBoldItalic !important;
}

.ft_black {
    font-family: codePro-Black !important;
}

.ft_blackItalic {
    font-family: codePro-BlackItalic !important;
}

.ft_medium {
    font-family: codePro-Medium !important;
}

.ft_mediumItalic {
    font-family: codePro-MediumItalic !important;
}

.ft_extraLight {
    font-family: codePro-ExtraLight !important;
}

.ft_extraLightItalic {
    font-family: codePro-ExtraLightItalic !important;
}

.ft_light {
    font-family: codePro-Light !important;
}

.ft_lightItalic {
    font-family: codePro-LightItalic !important;
}

.ft_regular {
    font-family: codePro-Regular !important;
}

.ft_italic {
    font-family: codePro-Italic !important;
}


/* special font-size */

.fs-10 {
    font-size: 10px;
}

.fs-12 {
    font-size: 12px;
}

.fs-14 {
    font-size: 14px;
}

.fs-16 {
    font-size: 16px;
}

.fs-18 {
    font-size: 18px;
}

.fs-20 {
    font-size: 20px;
}

.small {
    font-size: small;
}

.smaller {
    font-size: smaller;
}

.large {
    font-size: large;
}

.larger {
    font-size: larger;
}

.x-small {
    font-size: x-small;
}

.medium {
    font-size: medium;
}
